.viewName{
	font-size: 23px;
	color: #444;
    text-align: center;
    font-weight: 700;
}

.dataViewContainer{

    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #ccc;
    border-radius: 16px;
}

.attrDataViewContainer{
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
textarea {
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
  }

label{
    font-size: 20px;
    /*margin-left: 5%;  
    border-bottom: ridge;*/
}

.countryRegionDiv{
    font-size: 20px;
    /*margin-left: 5%;
    display: flex;*/
    margin-bottom: 5px;
    font-weight: 700;
}
.countryRegion{
    height: 34px;
    font-size: 16px;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.submitButtom{
    margin-left: 75%;
    font-size: 20px;
    height: "30px";
}
.submitButtom:hover {
    font-size: 20px;
    height: "30px";
    border: 1px solid ;
    background-color: #9aa8c0ab;
}

.submitButtom:active {
    font-size: 20px;
    height: "30px";
    border: 1px solid #005fffab;
    background-color: #005fffab;
}
.form-group {
    margin-bottom: 15px;
    width: 75%;
    border: 1px solid #9aa8c0ab;
    border-radius: 4px;
    padding: 15px;

}
label {
    /*display: inline-block;*/
    margin-right: 50px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.cityPostalCode{
    display: flex;
}
.locationElementView{
    width: 10%;
}

.startEndDestination{
    font-size: 20px;
    margin-right: 50px;
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
}
.inputPatameterContaner{
    width: 50%;
}
/*input{
    width: 40px;
    margin-left: 5%;
    font-size: 20px;
}*/
.selectCountry{
	/*width: 250px;
    padding-left: 40px;
    padding-top: 50px;
    color: grey;*/
    font-size: 20px;
}
.dateBlock{
    display: flex;
    margin-bottom: 5%;
    margin-top: 5%; 
}